body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.navbar h1 {
    color: white;
    margin: 0;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 10px 0 5px;
}

form input, form button {
    margin: 5px 0;
    padding: 10px;
    width: 200px;
}

#productList, #cartList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 400px;
}

.product img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.payment-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    background-color: #f9f9f9;
}

.payment-box form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.payment-box label {
    margin: 10px 0 5px;
}

.payment-box input[type="text"], 
.payment-box input[type="email"], 
.payment-box input[type="month"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
}

.payment-box .payment-method {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.payment-box .payment-method label {
    margin: 0;
}

.payment-box .payment-method input {
    margin-right: 10px;
}

.payment-box button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.payment-box button:hover {
    background-color: #218838;
}